/*************************************************************************************
 * CSS for several animations & transitions by Diane Zevenbergen dianezev@comcast.net
 * Some classes below are intentionally redundant - to make it easy to 
 * copy & paste a portion of the code below to work with one animation/transition
 *************************************************************************************/


/*******************************************************
 * BUBBLES
 ******************************************************/

@keyframes bubbles {
    0% {
        opacity: 0; 
        transform: scale(.1);
    }
    100% { opacity: .8; }
}
.animBubbles { z-index: 25; }
.backdrop {
    background-size: 100%;
    overflow: hidden;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
}
.blob {
    border-radius: 100%;
    opacity: .8;
    position: fixed;
    z-index: 16;
}
.coverAll {
    background-color: rgba(0,0,0,0.7);
    z-index: 15 !important;
}
.overlay {
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -10;
}

.test {
    background-color: #121824;
    border: 1px solid #d0d0e7;
}
.test {
    font-weight: 400;
    font-size: 100%;
    left: 50%;
    margin: auto;
    padding: 1em;
    position:absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 17;
}
.test { color:rgba(255, 255, 255, .8); }
.test h3, .test h2 {
    font-weight: 800;
    text-align: center;
}
.test h2 { color:deeppink; }
.test h4 {
  margin-top: 35px;
  text-align: center;
}
.test h3 { padding-top: 1em; }

/*Adapted from Mark Senff's example http://codepen.io/senff/pen/fqmFo*/
.closeDiv {
	background: #de0000;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 30px;
	font-weight: normal;
	height: 33px;
	line-height: 30px;
	position: absolute;
	right: 1px;
	text-align: center;
	top: 1px;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	width: 40px;
}


/*******************************************************
 * FLIP CARD: uses transition and transform: rotateY()
 ******************************************************/

  /*  flip animation adapted from https://davidwalsh.name/css-flip*/
  /* entire container, keeps perspective */
  .flip-container {
    height: 450px;
    perspective: 1000px;
    margin: auto;
  }
  .flip-container, .card {
    width: 280px;
  }
  .flipper {
    transform-style: preserve-3d;
    position: relative;
  }
  .card {
    background-color: #203d9e;
    border: 10px solid white;
    border-radius: 10px;
    color: white;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* flip card over*/
  .card, .card .myText {
    transition: 1.5s;
  }
  .card.showBack {
    background-color: #c10d59;
    transform: rotateY(-180deg);    
  }

  /* this flips text BACK so it remains readable
   * even though card is flipped (use js to toggle text as needed...)*/
  .card.showBack .myText {
    transform: rotateY(180deg);
  }
  .card:hover {
    cursor: pointer;
  }
  .card p, .card h3 {
    margin: 40px auto 0 auto;
    padding:8px;
    text-align: center;
    width:80%;
  }
.closeFlipSample {
	background: #de0000;
	color: #FFFFFF;
	cursor: pointer;
    display: block;
	font-size: 30px;
	font-weight: normal;
	height: 33px;
	line-height: 30px;
    margin: 5px 5px 5px auto;  
	text-align: center;
	width: 40px;
}

/*******************************************************
 * SPIN SHAPE: uses transition and transform: rotate()
 ******************************************************/

.shapeToSpin {
  width: 100px;
  height: 100px;
  background-color: #203d9e;
  color: white;
  margin: 10px auto;
  transition: 4s;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.shapeToSpin.spinIt {
  transform: rotate(720deg);
}

.spin-container {
  perspective: 1000px;
  margin: auto;
  width: 150px;
  height: 150px;
}
.shapeToSpin:hover {
  cursor: pointer;
}
.closeSpinSample {
  background: #de0000;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 30px;
  font-weight: normal;
  height: 33px;
  line-height: 30px;
  margin: 5px 5px 5px auto;  
  text-align: center;
  width: 40px;  
}

/**********************************************************************************
 * SLIDE IN FROM LEFT: uses animation with left and opacity properties in @keyframes
 *********************************************************************************/
.animateSlideInFromLeft{
  position:relative;
  animation: slideInFromLeft 0.7s;
}
@keyframes slideInFromLeft {
  from{
    left:-400px;
    opacity:0;
  } 
  to{
    left:0;
    opacity:1;
  }}

.slideThisIn {
  background-color: transparent;
  height: 220px;
  margin: auto;
  text-align: center;
  width: 300px;
}
.slideThisIn p {
  padding: 15px;
}
.closeSlideInSample {
  background: #de0000;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 30px;
  font-weight: normal;
  height: 33px;
  line-height: 30px;
  margin: 5px 0 5px auto;  
  text-align: center;
  width: 40px;  
}

/*********************************************************************
 * SLIDE AND ROTATE: uses transition & transform
 ********************************************************************/
.slideThis {
  color: #2e8da3;
  font-size: 20px;
  margin: auto 5%;
  text-align: center;
  width: 20%;
  min-width: 100px;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.slideThis.inView {
  -webkit-transform: translate(50vw, 20vh) rotate(90deg);
  -moz-transform: translate(50vw, 20vh) rotate(90deg);
  -ms-transform: translate(50vw, 20vh) rotate(90deg);
  -o-transform: translate(50vw, 20vh) rotate(90deg);
  transform: translate(50vw, 20vh) rotate(90deg);
}
.slideThis:hover {
  cursor: pointer;
}
.slideThis p {
  padding: 15px;
}
.closeSlideSample {
  background: #de0000;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 30px;
  font-weight: normal;
  height: 33px;
  line-height: 30px;
  margin: 0 0 5px auto;  
  text-align: center;
  width: 40px;  
}


/*********************************************************************
 * ZOOM IN: uses transition & class 'inView' to zoom font-size
 ********************************************************************/
.zoomThis {
  background-color: transparent;
  color: white;
  margin: auto;
  text-align: center;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.zoomThis.inView {
  font-size: 7vw;
}
.zoomThis p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.zoomThis p {
  padding: 15px;
}
.closeZoomSample {
  background: #de0000;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 30px;
  font-weight: normal;
  height: 33px;
  line-height: 30px;
  margin: 15px auto 5px auto;  
  text-align: center;
  width: 40px;  
}



/*****************************************************************
 * OTHER - can use these classes with hover or with js to activate
 ****************************************************************/

/*
.rotateAndFade {
    -webkit-animation: shadeInOut 2s 4, roll .5s 16;
    -moz-animation: shadeInOut 2s 4, roll .5s 16;
    -o-animation: shadeInOut 2s 4, roll .5s 16;
    animation: shadeInOut 2s 4, roll .5s 16;
}
.fadeInAndOut80 {
    -webkit-animation: shadeInOut 2s 4;
    -moz-animation: shadeInOut 2s 4;
    -o-animation: shadeInOut 2s 4;
    animation: shadeInOut 2s 4;
}
.fadeIn100 {
    -webkit-animation: shadeIn 2s 1;
    -moz-animation: shadeIn 2s 1;
    -o-animation: shadeIn 2s 1;
    animation: shadeIn 2s 1;
}
.fadeInAndOut50 {
    -webkit-animation: steadyInOut 10s 30;
    -moz-animation: steadyInOut 10s 30;
    -o-animation: steadyInOut 10s 30;
    animation: steadyInOut 10s 30;
}
.fadeInOutOnce {
    -webkit-animation: steadyInOut 1s 1;
    -moz-animation: steadyInOut 1s 1;
    -o-animation: steadyInOut 1s 1;
    animation: steadyInOut 1s 1;
}
.wobble {
    -webkit-animation: tinyRoll 1s 150;
    -moz-animation: tinyRoll 1s 150;
    -o-animation: tinyRoll 1s 150;
    animation: tinyRoll 1s 150;
}
*/




@keyframes roll {
    0%, 100% { transform: rotate(-6deg); }
    50% { transform: rotate(6deg); }
}
@keyframes littleRoll {
    0%, 100% { transform: rotate(-3deg); }
    50% { transform: rotate(3deg); }
}
@keyframes tinyRoll {
    0%, 100% { transform: rotate(-1deg); }
    50% { transform: rotate(1deg); }
}
@keyframes slipFromRight {
    0% {
        transform: translate(300px, 0);    
        font-size: 0%;
    }
    100% { transform: translate(0, 0); }
}
@keyframes slipFromLeft {
    0% {
        transform: translate(-100vw, 0);    
        font-size: 0%;
    }
    100% { transform: translate(0, 0); }
}
@keyframes shadeInOut {
    0%, 100% { opacity: 0; }
    80% { opacity: .8; }
}
@keyframes steadyInOut {
    0%, 100% { opacity: .05; }
    50% { opacity: .9; }
}
@keyframes shadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/***********************************************
************************************************
* Universal/General Styles for start page
* (not specific to animation/transition examples)
************************************************
************************************************/

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body { 
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}
body, html { height: 100%; }
body, button, .getStarted input, .btn, .sidebar, .scores {
    font-family: 'Short Stack', cursive;
}
button {
  color: white;
}
p { margin:0; }

.backgroundImg {
    left: 0; 
    min-height: 100%; 
    min-width: 100%; 
    position: absolute;
    overflow-y: scroll;
    top: 0; 
    bottom: 0;
    padding-top: 5vh;
}
.backgroundShade {
    background-color: #090A3B;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.backgroundImg {
    background-color: #121824;
}
.getStarted {
    color: white;
    height: auto;
}
.getStarted h1 {
    color: #69697d;
    line-height: .8;
    text-align: center;
    font-weight: 800;
    margin-top: 0;
    height: .9em;
}
.gridBox {
  margin:10%;
}
.gridBox button {
  color: white;
  background-color: #2e2e38;
  width: 100%;
  padding: 4%;
  border-radius: 5px;
  border: 1px solid white;
}
.gridBox button:hover {
    -webkit-animation: littleRoll .25s 8;
    -moz-animation: littleRoll .25s 8;
    -o-animation: littleRoll .25s 8;
    animation: littleRoll .25s 8;
}

.start2 {
    margin: 0 auto;
    width: 80%;
}


/*
.hide { display: none; }
.invisible { visibility: hidden; }
*/




/****************************************
*****************************************
* Miscellaneous Styles - clear fix, etc
*****************************************
****************************************/

/*MICRO-CLEARFIX by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/*/
.cf:before, .cf:after {
    content:"";
    display:table;
}
.cf:after { clear:both; }

/* For IE 6/7 (trigger hasLayout) */
/*.cf { zoom:1; }*/

/*from CSS Tricks - to change color of selected text */
::selection { background: #869fae; /* WebKit/Blink Browsers */ }
::-moz-selection { background: #869fae; /* Gecko Browsers */ }

/* from CSS Tricks - to change color of placeholder text */
::-webkit-input-placeholder { color: #d4dae2; }
:-moz-placeholder { color: #d4dae2; }
::-moz-placeholder { color: #d4dae2; }
:-ms-input-placeholder { color: #d4dae2; }

